
# Quarto files
/.quarto/
_freeze/
# might contain intermediate or output files.

# Other files
.Rproj.user/

# RStudio files
.Rhistory

# Session Data files
.RData

# User-specific files
.Ruserdata

# Private or old
_my_stuff/*
analysis/_zz_old_files/*
buzzwords.bib

# Temporary files
*.log
*.aux
README_files/
