
# Quarto files
/.quarto/
_freeze/
# might contain intermediate or output files.

# Other files
.Rproj.user/

# RStudio files
.Rhistory

# Session Data files
.RData

# User-specific files
.Ruserdata

_my_stuff/*
