# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto stuff
.quarto/
_freeze/
**/*_cache/*
# might contain intermediate or output files.

# Targets stuff
_targets
_targets.yaml

posts/*_files/
analysis/*_files/

# Data stuff
# (here I keep it bc it is all public data)

# Private or old stuff
_my_stuff/*
_intro_NLP.qmd
analysis/_zz_old_files/*
buzzwords.bib
slogan.bib
data/raw_data/project2/_all_projects_as_of29ago2024descr-stats.md


# Temporary files
*.log
*.aux
README_files/




/.quarto/
